@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: "dfont";
    src: url("LiberRegular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
}
 /* palette.png */
:root {
  --white: #fffff1;
  --yellow: #ffd700;
  --blue: #00bFFF;
  --cyan: #004f69;
  --green: #008000
}

body {
    background-color: #1a1e23;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

h2 {
    font-family: "dfont", sans-serif;
    font-size: 90px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    --start-color: var(--yellow);
    --end-color: var(--blue);
    --start-color-2: var(--green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-45deg, var(--start-color), var(--end-color), var(--start-color-2), var(--start-color), var(--end-color));
    animation: gradient 5s ease-in-out infinite;
    background-size: 400% 400%;
}

.desc {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bob 5s ease-in-out infinite;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 10);
  white-space: nowrap;
}
button {
  border: 3px solid transparent;
  transition: all 0.3s ease-in-out;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #2a3038;
  overflow: hidden;
}
button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
}
svg g {
  fill: var(--cyan);
}
button:hover {
  border: 3px solid var(--blue);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px var(--blue);
}
button g {
  transition: all 0.3s ease-in-out;
}
button:hover g {
  fill: var(--blue);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px var(--blue);
  text-shadow: 0 0 100px var(--blue);
}
.social {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social button + button {
  margin-left: 10px;
}
button svg {
  position: relative;
  top: 41%;
  left: 37.5%;
  transform: translate(-50%, -50%);
}
@keyframes bob {
  50% {
    margin-top: 50px;
  }
  100% {
    margin-bottom: 50px;
  }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
